{
  "agendaFiles": ["*.org", "notes/**/*.org", "agenda/*"],
  "recursive": true,
  "ignorePatterns": [".git/**", "node_modules/**", ".#*", "*_archive", "*.archive"],
  "links": {
    "linearTeam": "scarf",
    "abbreviations": {
      "gh": "https://github.com/%s",
      "linear": "https://linear.app/scarf/issue/%s"
    }
  },
  "publish": {
    "projects": {
      "homepage": {
        "baseDir": "/Users/avi/dev/homepage",
        "outDir": "/Users/avi/dev/homepage/docs",
        "include": ["index.org", "posts/**/*.org", "sitemap.org"],
        "ignore": [".git/**"],
        "recursive": true,
        "rewriteFileLinks": true,
        "includeDefaultStyle": false,
        "headIncludes": [
          "<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/prismjs/themes/prism.min.css\" />",
          "<script defer src=\"https://cdn.jsdelivr.net/npm/prismjs/prism.min.js\"></script>"
        ],
        "postambleHtml": "<div id=\"postamble\" class=\"status\"><p class=\"postamble\">© Avi Press 2026</p></div>",
        "index": {
          "file": "sitemap.html",
          "title": "Sitemap"
        },
        "sitemapXml": {
          "file": "sitemap.xml",
          "baseUrl": "https://avi.press",
          "includeIndexPage": true
        },
        "assets": {
          "include": ["css/**", "images/**", "CNAME"],
          "ignore": ["**/.DS_Store"]
        }
      }
    }
  }
}
